<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>{{ title }}</title>

      <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
      <link href="/stylesheets/styles.css" rel="stylesheet">

   </head>

   <body>

      <div class="container">

         <header>
            <h1>Yet Another Real Time Chat</h1>
         </header>

         <section>
            <div class="homesection">
               <a id="create" class="btn btn-primary btn-lg" title="Create" href="/create">
                  <small>Create a Private</small>
                  <div>CHAT ROOM!</div>
               </a>
            </div>
         </section>

         <footer>
            <div class="row">
               <div class="col-xs-2">
                  <img src="/images/avanade.png" alt="avanade"/>
               </div>
               <div class="col-xs-8">
                  <div class="copyright">
                     &copy; 2014 Avanade Inc. All Rights Reserved
                  </div>
               </div>
               <div class="col-xs-2">
                  <div class="poweredby">powered by</div>
                  <img src="/images/nodejs.png" alt="nodejs"/>
               </div>
            </div>
         </footer>

      </div>

      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="/javascripts/bootstrap.min.js"></script>
   </body>
</html>
